.icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-items{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.set-mb{
    margin-bottom: 100px;
}

.loading {
    position: absolute;
    top: 200px;
    left: 42%;
}

@media only screen and (max-width:450px){
    .loading {       
        left: 30%;
    }
}